.editmyquotes-date {
  margin: 2vh 0 2vh 0 !important;
}

.isEditing {
  display: none;
}

.editmyquotes-delete-edit-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-editmyquotes {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.editmyquotes-items {
  margin: 0 4vw 4vh 4vw;
  width: 360px  !important;
}

.profile-signout {
  margin-top: 2vh;
}

.myquotes-title {
  display: flex;
  justify-content: space-evenly;
  margin: 0 0 7px 0;
}