.editmyquotes-date {
  margin: 2vh 0 2vh 0 !important;
}

.isEditing {
  display: none;
}

.editmyquotes-delete-edit-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.profile-editmyquotes {
  margin-bottom: 10vh;
}