.homepage {
  margin-bottom: 15vh;
}

.homepage-addquote-button {
  z-index: 5;
  position: fixed;
  top: 80vh;
  left: 74vw;
  height: 0px;
}

.homepage-bottom-navbar {
  z-index: 5;
  position: fixed;
  top: 92vh;
}