body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scrollbar-width: none !important;
  background: rgb(26,95,255);
  background: radial-gradient(circle, rgba(26,95,255,0.14467793953518904) 0%, rgba(255,255,255,0.6) 100%);
  height: 100%;
}

.night {
  background-color: rgb(100, 100, 100);
  height: 100vh;
}

.nighttheme {
  background-color: rgb(67, 73, 104) !important;
}